@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

@layer components {
  .padding-container {
    @apply px-20;
  }
  .custom-border {
    @apply border-[1px] border-text-inactive shadow hover:shadow-xl transition-shadow focus:shadow-xl;
  }
  .bottom-border {
    @apply border-b-[1px] border-text-inactive;
  }
  .transparent-background {
    @apply bg-gradient-to-r from-white-basic to-white-transparent;
  }
  .selected {
    @apply bg-white-basic shadow-2xl;
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
